<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Add page-specific CSS files or stylesheets here -->
</head>
<body>
    <div th:replace="~{base.html}"></div>
    <div class="container" >
        <div th:each="terminal: ${terminals}" class="card text-center col-5 mt-3" style="display: inline-flex; flex-direction: column;">
            <div class="card-header"  style="background-color: rgb(0,0,153); color: white;">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title" th:text="${terminal.name}"></h5>
              <p class="card-text" th:text="${terminal.description}"></p>
              <a th:href="@{/results(origin=,destination=${terminal.name},fromDate=,toDate=,findReturn=false)}" class="btn btn-primary bg-warning" style="color: black;">Check Connections</a>
            </div>
            <div class="card-footer text-muted align-bottom" style="margin-top: auto;">
              2 days ago
            </div>
          </div>
    </div>
</body>
</html>
